.email {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    height: 70px;
    text-align: left;
    padding-top: 5px;
    margin-top: 2px;
}

.true {
    color: black;
    background-color: lightgray;
}

.false {
    color: black;
    background-color: white;

}
.active {
    color: white;
    background-color: darkcyan;
}

.from {
    display: inline-grid;
    font-size: 18px;
    margin: 0 10px;

}

.subject {
    display: inline-grid;
    margin: 0;
    font-size: 16px;
}

.lower_gird {
    display: grid;
}

.address {
    display: inline-grid;
    margin-right: 10px;
    margin-left: 10px;
}

.time {
    display: inline-grid;

}